<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul>
                    <li>social list</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>local list</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>cpl list</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>contact info</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                    <li>foundation</li>
                </ul>
            </div>
            <div class="col">
                <ul>
                    <li>copyright</li>
                </ul>
            </div>
        </div>
    </div>
</footer>