<header>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="row clearfix">
                    <div class="col header-left hidden-md-down" id="logo-fullSize">
                        <a href="https://www.chipublib.org/">
                            <img src="https://cor-liv-cdn-static.bibliocommons.com/images/IL-CPL/logo.png?1506021413180" alt="Chicago Public Library">
                        </a>
                        <h2><a href="https://cdm16818.contentdm.oclc.org/customizations/global/pages/">Digital Collections</a></h2>
                    </div>
                    <div class="col header-left hidden-lg-up" id="logo-small">
                        <div class="header-small-img">
                            <a href="https://www.chipublib.org/">
                                <img src="https://cor-liv-cdn-static.bibliocommons.com/images/IL-CPL/mobile_logo.png?1505979997263" alt="Chicago Public Library">
                            </a>
                        </div>
                    </div>
                    <!-- 
                        <div class="hidden-lg-up col">
                            <div class="inline-div"><button class="header-sm-button" data-toggle="modal" data-target="#myModal" tabindex="0"><i class="fa fa-bars" aria-hidden="true"></i></button></div>
                            <div class="inline-div"><a class="header-sm-button light-left-border" href="https://chipublib.bibliocommons.com/events/search/index"><i class="fa fa-calendar" aria-hidden="true"></i></a></div>
                        </div> -->
                    <div class="col header-right">
                        <div class="search float-right" onclick="expandSearch()" tabindex="0">
                            <span class="search-text">Search</span>
                            <input type="text" id="search-input">
                            <i onclick="searchContent()" class="search-icon-white fa fa-search" id="search-icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row header-bottom">
            <div class="container">
                <div class="row">
                    <div class="header-button" id="browse-button" onclick="expandBrowseDropdown()" tabindex="0">Browse<i class="fa fa-angle-down" aria-hidden="true"></i></div>
                    <div class="header-button" id="events-button" onclick="" tabindex="0">
                        <a href="https://chipublib.bibliocommons.com/events/search/index">
                            <i class="fa fa-calendar"></i>
                            Events
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="browse-dropdown-toplevel"  id="browseDropdown" onclick="expandBrowseDropdown()">
        <div class="container browse-dropdown">
            <div class="row">
                <div class="browse-dropdown-header">Browse</div>
                <div class="browse-dropdown-middlelist">
                    <span class="browse-dropdown-list browse-dropdown-list-header">By Format</span>
                    <ul>
                        {% assign format_links = site.data.header-links | where: 'group', 'format' %}
                        {% for item in format_links %}
                        <li>
                            <a href="{{ item.link }}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="browse-dropdown-middlelist">
                    <span class="browse-dropdown-list browse-dropdown-list-header">By Audience</span>
                    <ul>
                        {% assign aud_links = site.data.header-links | where: 'group', 'aud' %}
                        {% for item in aud_links %}
                        <li>
                            <a href="{{ item.link }}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="browse-dropdown-list">
                    <span class="browse-dropdown-list-header">More</span>
                    <ul>
                        {% assign more_links = site.data.header-links | where: 'group', 'more' %}
                        {% for item in more_links %}
                        <li>
                            <a href="{{ item.link }}">{{ item.name }}</a>
                        </li>
                        {% endfor %}
                    </ul></div>
                    <div class="col-3"></div>
                </div>
            </div>
        </section>
    </header>