<header>
    <div class="container">
        <div class="row clearfix">
            <div class="col" id="header-left">
                <a href="https://www.chipublib.org/">
                    <img src="https://cor-liv-cdn-static.bibliocommons.com/images/IL-CPL/logo.png?1506021413180" alt="Chicago Public Library">
                </a>
                <h2>Digital Collections</h2>
            </div>
            <div class="col float-right" id="header-search">
                Search
            </div>
        </div>
        <div class="row">
            <button class="header-button" id="browse-button">Browse</button>
            <button class="header-button" id="events-button">Events</button>
        </div>
    </div>
</header>