<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Digital Collections | Chicago Public Library</title>
    {% include libraries.html %}

    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
    <style>
        /* div {
            border: 1px solid black;
        } */
        
    </style>
</head>
<body>
    {% include header.html %}
    <main>
        {% include sidebar.html %}
        <div class="main-container">
            <div class="grid">
                {% include cards.html %}
            </div>
        </div>
    </main>
    {% include footer.html %}
    <script>
        var $grid = $('.grid').masonry({
            gutter: 15,
            itemSelector: '.card',
            fitWidth: true
        });
        // allows slow load times to not destroy the card layout; requires imagesloaded.pkgd.min.js; also makes cards flow when changing positions on resize
        $grid.imagesLoaded().progress( function() {
            $grid.masonry('layout');
        });
    </script>
</body>
</html>