<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {% include libraries.html %}
    {% assign pagecontent = site.data[page.contentdata] %}
    {% if pagecontent.mainimage.url contains '.jpg' %}
        {% assign mainimage = '/assets/images/' | append: pagecontent.mainimage.url %}
        {% assign mainimageUrl = pagecontent.mainimage.coll %}
    {% else %}
        {% assign mainimage = 'http://digital.chipublib.org/digital/api/singleitem/image/' | append: pagecontent.mainimage.coll | append: '/' | append: pagecontent.mainimage.url | append: '/default.jpg' %}
    {% endif %}
    {% include header.html %}
    <main>
        <div class="container">
            <div class="row">
                {% include sidebar.html %}
                <div class="card main-content col-xl-6 col-8">
                    <h1 class="page-title">{{ pagecontent.title }}</h1>
                    <section class="intro">
                        <div class="prosecontent">{{ pagecontent.textlong }}</div>
                    </section>
                    <section class="images">
                        <div class="container-fluid lightbox imageGallery">
                            <div class="row">
                                <div class="col justify-content-center lightbox-mainimage">
                                    <a href="{{ mainimage }}" data-caption="<a href={{ mainimageUrl }}>{{ pagecontent.mainimage.text }}</a>" data-alt="{{ pagecontent.mainimage.alt }}" title="{{ pagecontent.mainimage.text }}">
                                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="{{ pagecontent.mainimage.alt }}" style="background-image: url({{ mainimage }}); background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: {{ pagecontent.mainimage.size }}; background-position: {{ pagecontent.mainimage.align }}" />
                                    </a>
                                </div>
                            </div>
                            <div class="row lightbox-thumbs justify-content-center">
                                {% assign counter = 1 %}
                                {% for thumb in pagecontent.thumbs %}
                                    <div class="col{% if counter == 3 %} hidden-sm-down{% endif %}{% if counter == 4 %} hidden-xs-down{% endif %}">
                                        <a href="https://cdm16818.contentdm.oclc.org/digital/api/singleitem/image/{{ thumb.coll }}/{{ thumb.url }}/default.jpg" data-caption="<a href=https://cdm16818.contentdm.oclc.org/digital/collection/{{ thumb.col }}/id/{{ thumb.url }}>{{ thumb.text }}</a>" data-alt="{{ thumb.alt }}">
                                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="{{ thumb.alt }}" style="background-image: url('https://cdm16818.contentdm.oclc.org/digital/api/singleitem/image/{{ thumb.coll }}/{{ thumb.url }}/default.jpg'); background-repeat: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-size: {{ thumb.size }}; background-position: {{ thumb.align }}" />
                                        </a>
                                    </div>
                                    {% assign counter = counter | plus:1 %}
                                {% endfor %}
                            </div>
                        </div>
                        <script>
                            $('.imageGallery a').simpleLightbox();
                        </script>
                    </section>
                    <section class="prosecontent" id="mainTextContent">
                        <div class="center-button browseall">
                            <a href="http://digital.chipublib.org/digital/search/collection/{% if pagecontent.type == 'category' or pagecontent.type == 'location' %}{{ pagecontent.allcolls }}{% elsif pagecontent.type == 'collection' %}{{ pagecontent.coll }}{% endif %}/order/title/ad/asc" id="allButton" class="btn btn-primary">
                                Browse All
                            </a>
                        </div>
                        <div class="prosecontent" id="textAndLists">
                            {% if pagecontent.textrich %}
                                <div class="textblock">
                                    {{ pagecontent.textrich }}
                                </div>
                            {% endif %}
                            {% if pagecontent.highlights %}
                                <div class="textblock{% if pagecontent.textrich %} {% else %} topborder{% endif %}">
                                    {% if pagecontent.textrich %}{% else %}<h3>Collection Highlights</h3>{% endif %}
                                    <dl>
                                        {% for highlight in pagecontent.highlights %}
                                            <dt>
                                                <a href="{{ highlight.a }}">
                                                        {{ highlight.dt }}
                                                </a>
                                            </dt>
                                            <dd>
                                                    {{ highlight.dd }}
                                            </dd>
                                        {% endfor %}
                                    </dl>
                                </div>
                            {% endif %}
                            {% if pagecontent.subdigicoll or pagecontent.type == 'category' or pagecontent.type == 'location' %}
                                <div class="textblock">
                                    <h3>Digital Collections</h3>
                                    <span>Collections {{ pagecontent.catcoll }}{% if pagecontent.type == 'location' %} from the {{ pagecontent.longname }}{% endif %} include:</span>
                                    <dl>
                                        {% if pagecontent.subdigicoll %}
                                            {% for subcoll in pagecontent.subdigicoll %}
                                                <dt><a href="{{ subcoll.a }}">{{ subcoll.dt }}</a></dt>
                                                <dd>{{ subcoll.dd }}</dd>
                                            {% endfor %}
                                        {% endif %}
                                        {% for subcoll in data.site.collections %}
                                            {% if pagecontent.type == 'category' and subcoll.category == pagecontent.title %}
                                                <dt><a href="{{ subcoll.link }}">{{ subcoll.title }}</a></dt>
                                                <dl>
                                                    {{ subcoll.textshort }}
                                                    {% if subcoll.link == 'RVLV' and pagecontent.link == 'LibEd' %}
                                                        This collection contains images of high schools in the neighborhoods.
                                                    {% endif %}
                                                    {% if subcoll.link == 'Sang' and pagecontent.link == 'Civilwar'%}
                                                        A number of documents in the collection were created during the Civil War.
                                                    {% endif %}
                                                </dl>
                                            {% elsif pagecontent.type == 'location' and subcoll.location == pagecontent.link %}
                                                <dt><a href="{{ subcoll.link }}">{{ subcoll.title }}</a></dt>
                                                <dl>
                                                    {{ subcoll.textshort }}
                                                </dl>
                                            {% endif %}
                                        {% endfor %}
                                    </dl>
                                </div>
                            {% endif %}
                            {% if pagecontent.CPLRes %}
                                <div class="textblock">
                                    <h3>More CPL Resources</h3>
                                    <dl>
                                        {% if pagecontent.findingaid %}
                                            <dt>Finding Aids</dt>
                                            <dd>
                                                {% if pagecontent.link == 'rhwc' %}
                                                    Chicago Public Library also holds extensive physical collections about Harold Washington, including his mayoral, congressional and state legislative years. Sample finding aids below.
                                                {% else %}
                                                    The descriptive inventories for other related archival collections.
                                                {% endif %}
                                            </dd>
                                            <ul>
                                                {% for fa in pagecontent.findingaid %}
                                                    <li><a href="{{ fa.link }}">{{ fa.text }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        {% for listitem in pagecontent.CPLRes %}
                                            <dt><a href="{{ listitem.a }}">{{ listitem.dt }}</a></dt>
                                            <dd>{{ listitem.dd }}</dd>
                                        {% endfor %}
                                    </dl>
                                </div>
                            {% elsif pagecontent.findingaid %}
                                <div class="textblock">
                                    {% if pagecontent.findingaid.first %}
                                        <h3>Finding Aids</h3>
                                        <p>The descriptive inventories for their physical collections.</p>
                                        <ul>
                                            {% for fa in pagecontent.findingaid %}
                                                <li><a href="{{ fa.link }}">{{ fa.text }}</a></li>
                                            {% endfor %}
                                        </ul>
                                    {% else %}
                                        <h3>Finding Aid</h3>
                                        <dl>
                                            <dt><a href="{{ pagecontent.findingaid.link }}">{{ pagecontent.findingaid.text }}</a></dt>
                                            <dd>The descriptive inventory for the complete physical collection.</dd>
                                        </dl>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if pagecontent.exres %}
                                <div class="textblock">
                                    <h3>External Resources</h3>
                                    <dl>
                                        {% for listitem in pagecontent.exres %}
                                            <dt><a href="{{ listitem.a }}">{{ listitem.dt }}</a></dt>
                                            <dd>{{ listitem.dd }}</dd>
                                        {% endfor %}
                                    </dl>
                                </div>
                            {% endif %}
                            {% if pagecontent.rights %}
                                <div class="textblock" aria-label="Additional Copyright Information">
                                    <span class="rights">
                                        {{ pagecontent.rights }}
                                    </span>
                                </div>
                            {% endif %}
                            {% if pagecontent.type == 'location' %}
                                <div class="textblock" aria-label="Location"><dl>
                                    <dt class="contact-list-item" style="padding-bottom: 7px">Contact Us </dt>
                                    <dd class="contact-list-item">Phone: {{ pagecontent.locphone }}</dd>
                                    <dd class="contact-list-item">
                                        <a href="mailto:{{ pagecontent.locemail }}">{{ pagecontent.locemail }}</a>
                                        </dd>
                                    </dl>
                                </div>
                            {% endif %}
                        </div>
                    </section>
                </div>
                <div class="hidden-lg-down col-lg-3 right-sidebar">
                    <div class="card blogs">blogs</div>
                    <div class="card events">events</div>
                </div>
            </div>
        </div>
    </main>
{% include footer.html %}
</body>
</html>